:root {
  --brandPrimary: #192064;
  --brandSecondary: #1e2345;
  --brandTertiary: #2a1198;
  --brandAccent: #bd1c25;
  --brandAccentAlt: #bc1823;
  --brandMuted: #8d8aa7;
  --ink: #1f2346;
  --inkAlt: #162143;
  --surface: #fdfdfd;
  --surfaceAlt: #f8f8f8;
  --surfaceAlt2: #fdfcfc;
}
